// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: $primary;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    line-height: 1;
  }

  #q-app {
    display: flex;
    justify-content: center;
  }

  .q-field {
    .q-field__marginal,
    .q-field__control,
    .q-field__native {
      padding: 0 10px;
      height: 35px;
      min-height: 0;
    }
  }
}
