// Variáveis OnFly

$primary-100: #009efb;
$primary-200: #007dc7;
$success-100: #00835c;
$info-100: #adadb3;
$info-200: #84858c;
$info-300: #84858c;
$info-400: #696a71;
$info-500: #58585f;
$info-600: #434347;

// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: $primary-100;
$secondary: $success-100;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: $success-100;
$negative: #c10015;
$info: $info-100;
$warning: #f2c037;

$body-font-size: 12px !default;
